<div><h1 style="text-align:center;font-weight: 800;">Owner</h1>
<button mat-raised-button color="accent" routerLink="/home">Home</button> 
<button mat-raised-button color="accent" routerLink="/booking1" >Booking</button>
<button mat-raised-button color="accent" style="float:right" routerLink="/home" (click)="logoutUser()">Logout</button>
<a href="https://dashboard.stripe.com/test/payments"><button mat-raised-button color="accent">Payment-Details</button></a>
<button mat-raised-button color="accent" style="float:right" routerLink="/msignup"> Manager Signup</button>
<button mat-raised-button color="accent" style="float:right" routerLink="/signup"> Staff Signup</button>
<button mat-raised-button color="accent" routerLink="/staff">Staff Details</button> 
<button mat-raised-button color="accent" routerLink="/rooom">Room</button> 
<button mat-raised-button color="accent" routerLink="/search">Search Room</button> 
<img src="https://www.travel-gallery.co.uk/sites/default/files/img/the-galle-face-hotel-sri-lanka.jpg" width="100%"  height="55%">