<!-- <div><h1 style="text-align:center;font-weight: 800;">Welcome</h1>
<button mat-raised-button color="accent" routerLink="/home">Home</button>
<button mat-raised-button color="accent" routerLink="/search">Book Room</button>
<button mat-raised-button color="accent" routerLink="/room">Room</button> 
<button mat-raised-button color="accent" style="float:right" routerLink="/login"  routerLinkActive="active">Login</button>
<button mat-raised-button color="accent" style="float:right" routerLink="/signup">Sign up</button></div>
<img src="https://pic.accessify.com/thumbnails/777x423/h/hotel-login.hotelplanner.com.png" alt="Hotel Image">
<button mat-raised-button *ngIf="_userService.loggedIn()" color="accent" style="float:right" routerLink="/signup">Sign up</button></div>-->


<router-outlet></router-outlet> 
