<div><h1 style="text-align:center;font-weight: 800;">Manager</h1>
<button mat-raised-button color="accent" routerLink="/home">Home</button> 
<button mat-raised-button color="accent" routerLink="/staff">Staff Details</button> 
<button mat-raised-button color="accent" routerLink="/rooom">Room</button> 

<button mat-raised-button color="accent" routerLink="/search">Search Room</button> 
<button mat-raised-button color="accent" style="float:right" routerLink="/home" (click)="logoutUser()">Logout</button>

<button mat-raised-button color="primary" style="float:right" routerLink="/signup"> Staff Signup</button>
<img src="https://www.netclipart.com/pp/m/35-355949_secretary-clipart-bank-manager-accountant-cartoon.png" alt="Hotel Image" width="100%" height="85%"> 
