<div><h1 style="text-align:center;font-weight: 800;">Welcome</h1>
    <button mat-raised-button color="accent" routerLink="/home">Home</button>
    <!-- <button mat-raised-button color="accent" routerLink="/manager">Manager</button> -->
    <button mat-raised-button color="accent" routerLink="/room">Room</button> 
    <button mat-raised-button color="accent" style="float:right" routerLink="/ologin">Owner Login</button>
    <button mat-raised-button color="accent" style="float:right" routerLink="/mlogin">Manager Login</button>
    <button mat-raised-button color="accent" style="float:right" routerLink="/login"  routerLinkActive="active">Staff Login</button>
    <!-- <button mat-raised-button color="accent" style="float:right" routerLink="/signup">Sign up</button> -->
</div>
    <!-- <img src="https://pic.accessify.com/thumbnails/777x423/h/hotel-login.hotelplanner.com.png" alt="Hotel Image"> -->
    <router-outlet></router-outlet> 
    <img src="https://wallpapershome.com/images/wallpapers/moon-palace-5120x2880-kankun-mexico-best-hotels-of-2017-best-beaches-3177.jpg" alt="Hotel Image" width="100%" height="85%"> 